<!doctype html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head th:replace="~{layouts/head_layout :: head('Checkpoints')}"></head>
<body>
<footer class="page-footer black simple-footer-custom" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12 footer-content-custom">
                <h5 >SMASH MANAGEMENTS</h5>
                <p class="grey-text text-lighten-4">A SM é um projeto da <code>Smash Code</code> para seus desenvolvedores/estudantes poderem ter mais controle dos entregáveis acadêmicos da FIAP.</p>
            </div>
            <div class="col l4 offset-l2 s12 footer-links-custom">
                <h5>Github</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/smashcodee" target="_blank">Smash Code</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/VictorRT" target="_blank">Victor Barberino</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!" target="_blank">Pedro Santiago</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!" target="_blank">Bruno Cardoso</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!" target="_blank">Vinicius Seiji</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!" target="_blank">Felipe Bueno</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright footer-copyright-custom">
        <div class="container">
            © 2023 Copyright Smash Code FIAP
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
</body>
</html>

