<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head th:fragment="head(titleName)">
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/task-card.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/card_horizontal.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/text-input.css}" >

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet">
    <title th:text="${titleName}">SM Website</title>
</head>
</html>