<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/head_layout :: head('Checkpoints')}"></head>
<body class="">
<nav th:replace="~{layouts/navbar_layout :: navbar('checkpoint')}"></nav>

<main class="container">
    <div class="card-panel teal white-text" th:if="${success}" th:text="${success}" ></div>
    <div class="card-panel red white-text" th:if="${error}" th:text="${error}" ></div>

    <p th:text="${user}"></p>
    <div class="task-container">
        <div class="row valign-wrapper row-header">
            <div class="col s12 container-header">
                <h3>Checkpoints <span th:text="#{task.pending}"></span>:</h3>
            </div>
            <div class="col s1">
                <a href="/checkpoint/criar" class="btn-floating btn-large waves-effect waves-light red btn-add-custom"><i class="material-icons">add</i></a>
            </div>
        </div>
        <ul>
            <div th:if="${checkpoints!= null and checkpoints.isEmpty() or checkpoints == null}">
                <p>NENHUM CHECKPOINT FOI CADASTRADO.</p>
            </div>
            <li th:each="checkpoint : ${checkpoints}">
                <div class="card_horizontal">
                    <div>
                        <h4 th:text="${checkpoint.title}">Title</h4>
                        <p th:text="${checkpoint.description}">description</p>
                    </div>
                    <div class="task-actions-container">
                        <a class='dropdown-trigger btn accent-1' th:data-target="'dropdown-' + ${checkpoint.id}">...</a>
                        <ul th:id="'dropdown-' + ${checkpoint.id}" class='dropdown-content'>
                            <li><a th:href="@{'/checkpoint/edit/' + ${checkpoint.id}}"><i class="material-icons">edit</i>editar</a></li>
                            <li><a th:href="@{'/checkpoint/action/delete/'+ ${checkpoint.id}}"><i class="material-icons">delete</i>deletar</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var options = {
            coverTrigger: false,
            closeOnClick: false,
            hover: false,
            inDuration: 500,
            outDuration: 500,
            onOpenStart: function() {
            }
        };
        M.Dropdown.init(elems, options);
    });
</script>
<footer th:replace="~{layouts/footer_layout :: footer}"></footer>
</body>
</html>


