.task-container {
    width: 100%;
    height: max-content;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #ED145B;
    border-radius: 4px;
    padding: 12px 38px;
}


.container-header {
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.task-container > .row-header > .container-header > h3 {
    font-size: 23px;
}

.btn-add-custom > i{
    background-color: #ED145B;
}

.btn-custom-color {
    background-color: #ED145B;
}

.taks-actions-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task {
    margin-bottom: 40px;
}