<!DOCTYPE html>
<html lang="pt-br" xmlns:th="www.thymeleaf.org">
<head th:replace="~{layouts/head_layout :: head('Edit - Checkpoints')}"></head>
<body>
    <nav th:replace="~{layouts/navbar_layout :: navbar('checkpoint')}"></nav>

    <main class="container">
        <h4>Página de edição</h4>
        <p class="flow-text" th:text="${checkpoint.title}"></p>
        <p class="flow-text" th:text="${checkpoint.description}"></p>
    </main>
    <footer th:replace="~{layouts/footer_layout :: footer}"></footer>
</body>
</html>