<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head th:replace="~{layouts/head_layout :: head('Globals')}"></head>
<body>
    <nav th:replace="~{layouts/navbar_layout :: navbar('global')}"></nav>

    <main class="container">
        <div class="card-panel teal white-text" th:if="${success}" th:text="${success}" ></div>
        <div class="card-panel red white-text" th:if="${error}" th:text="${error}" ></div>

        <div class="task-container">
            <div class="container-header">
                <h3>Globals pendentes:</h3>
            </div>
            <ul>
                <div th:if="${globals!= null and globals.isEmpty() or globals == null}">
                    <p>NENHUMA GLOBAL FOI CADASTRADA.</p>
                </div>
                <li th:each="gb : ${globals}">
                    <div class="card_horizontal">
                        <div>
                            <h4 th:text="${gb.title}">Title</h4>
                            <p th:text="${gb.description}">description</p>
                        </div>
                        <div class="checkpoint-actions-container">
                            <a class="btn red" th:href="'/global/delete/' + ${gb.id}">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </main>

    <footer th:replace="~{layouts/footer_layout :: footer}"></footer>
</body>
</html>